.actions {
    display: flex;
    gap: .5rem;
    margin: .5rem 0 1rem;
}

.actions button {
    background-color: rgb(235, 12, 12);
    color: #fff;
    border: none;
}

.actions a {
    background-color: #16e2db;
    color: #fff;
}