.reviews {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 3rem;
}

.reviewOption {
  cursor: pointer;
  position: relative;
}
.reviewOption input {
  opacity: 0;
  position: absolute;
}

.reviewOption:hover svg {
  fill: var(--purple-color);
}

.reviewOption input:checked ~ svg {
  fill: var(--purple-color);
}

.commentContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.5rem;
}

.commentContainer textarea {
  height: 150px;
  padding: 0.5rem;
}
