.textStyles {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    gap: 2rem;
    margin-bottom: 1rem;
}

.textStyles label {
    display: flex;
    align-items: center;
}

.textStyles input[type=number] {
    padding: .5rem .2rem;
}