.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #3f1ac4;
  text-align: center;
  padding: .5rem;
  color: #fcfcfc;
  font-weight: bold;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
select {
  margin: 1rem 0 1.5rem 0;

}

.time-zones-on-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.time-zones-on-screen h2 {
  padding-bottom: .3rem;
}