* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  background-color: #eee;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: -4px 4px 13px -1px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: -4px 4px 13px -1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: -4px 4px 13px -1px rgba(0, 0, 0, 0.59);
}

.content h1 {
  font-size: 28px;
  padding: 1rem;
}

.content input {
  width: 100%;
  padding: .3rem;
  margin: 1rem;
}

.content h2 {
  margin: 1rem;
  font-size: 22px;
}