.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

.search-group {
    display: flex;
    gap: .4rem;
    width: 50%;
    justify-content: center;
    
}

.search-group input {
    width: 50%;
}
.search-group button {
    cursor: pointer;
}

.search-group input, select, button {
    padding: .5rem;
}

.bg-photo-in-focus {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-photo-in-focus img {
    width: 45%;
    height: 90%;
    border-radius: 8px;
}