.container {
  background-color: var(--medium-blue);
  padding: 1.5rem;
  border-radius: 4px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-bottom: 1rem;
}

.inputContainer input {
  padding: .8rem .3rem;
  min-width: 300px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.btnClear {
  background-color: var(--gray);
}

/* Tela de resultados */

.resultContainer {
  text-align: center;
}



.green {
  color: var(--txt-green);
}

.orange {
  color: var(--txt-orange);
}

.red {
  color: var(--txt-red);
}

.rankingTable {
  /* padding: 1rem; */
  margin-bottom: 2rem;
}

.btnBack {
  width: auto;
}